* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    height: 9266px;
    margin: 0px auto;
    /* background-color: wheat; */

}

.box {
    background-image: url("../images/IMAGE\ \(10\).png");
    width: 1440px;
    height: 955px;
    background-position: center;


}

.navbar {
    width: 1148px;
    height: 54px;
    position: relative;
    top: 32px;
    left: 200px;
    padding: 0px, 0px, 0px, 478px;

}

.ulli {
    position: relative;
    width: 1148px;
    height: 54px;
    top: 15px;
    left: 440px;
    padding: 0px, 0px, 0px, 478px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: sans-serif;
    display: flex;
    list-style-type: none;
    gap: 50px;
    transition: 1.5s;



}

.Home:hover {
    cursor: pointer;
    color: red;
}

.About:hover {
    cursor: pointer;
    color: red;
}

.Blog:hover {
    cursor: pointer;
    color: red;
}

.Pages:hover {
    cursor: pointer;
    color: red;
}

.Contact:hover {
    cursor: pointer;
    color: red;
}

.Cart:hover {
    cursor: pointer;
    color: red;
}

.salom {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    width: 129px;
    height: 54px;
    background: #FF4D01;
    margin-left: 1018px;
    margin-top: -55px;
    transition: 1.5s;


}

.salom:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.asosiy {
    position: relative;
    width: 660px;
    height: 169px;
    top: 200px;
    left: 355px;
    font-family: sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0em;
    color: #FFFFFF;


}

.text {
    position: relative;
    width: 640px;
    height: 61px;
    top: 20px;
    left: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;


}

.hello {
    position: relative;
    top: 70px;
    left: 130px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: center;
    width: 169px;
    height: 75px;
    background: #FF4D01;
    transition: 1.5s;

}

.hello:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.world {
    width: 180px;
    height: 75px;
    border: 2px;
    position: relative;
    border: 2px solid white;
    top: -5px;
    left: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: center;
    width: 169px;
    height: 75px;
    transition: 1.5s;


}

.world:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.salom1 {
    width: 1440px;
    height: 9266px;
    background: rgb(245, 237, 223);
    margin-top: 732px;
}

.salom1 img {
    width: 479px;
    height: 681px;
    margin-top: 150px;
    margin-left: 150px;

}

.border1 {
    position: relative;
    width: 204px;
    height: 204px;
    top: -709px;
    left: 133px;
    border: 3px solid #FF4D01;

}

.qqqqqqq {
    position: relative;
    width: 105px;
    height: 22px;
    top: -840px;
    left: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.800000011920929px;
    text-align: center;
    color: #FF4D01;


}

.text10 {
    position: relative;
    width: 522px;
    height: 186px;
    top: 36px;
    left: 0.02px;
    font-family: sans-serif;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    color: #191919;

}

.lorem {
    position: relative;
    width: 589px;
    height: 121px;
    top: 49px;
    left: 0.02px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #605E5D;


}

.eeeee {
    position: relative;
    width: 35px;
    height: 85px;
    top: -410px;
    left: 700px;
    font-family: sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: center;
    color: black;

}

.rrrrrrr {
    width: 119px;
    height: 85px;
    top: -1px;
    left: 35.02px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: center;
    color: red;
}

.ExecutedProjects {
    position: relative;
    width: 147px;
    height: 20px;
    top: -410px;
    left: 715px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #989899;

}

.AWWWQ1w {
    position: relative;
    width: 147px;
    height: 20px;
    top: -505px;
    left: 930px;
    font-family: sans-serif;
    font-size: 75px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #191919;

}

.Y {
    width: 119px;
    height: 85px;
    top: -1px;
    left: 35.02px;
    font-family: sans-serif;
    font-size: 75px;
    font-weight: 400;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: center;
    color: #ff0000;
}

.hair {
    position: relative;
    width: 147px;
    height: 20px;
    top: -445px;
    left: 930px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #989899;
}

.lllll {
    position: relative;
    width: 35px;
    height: 85px;
    top: -550px;
    left: 1110px;
    font-family: sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: center;
    color: #191919;
}

.qwrt {
    width: 126px;
    height: 85px;
    top: -1px;
    left: 35.02px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: center;
    color: #ff0000;


}

.salomq {
    position: relative;
    width: 132px;
    height: 20px;
    top: -550px;
    left: 1145px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #989899;

}

.solid {
    top: -520px;
    left: 710px;
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: center;
    color: #191919;
    width: 237px;
    height: 75px;
    border: 2px solid #191919;
    transition: 1.5s;

}

.solid:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
}

.rasm {
    position: relative;
    top: -50px;
    left: -10px;

}

.services {
    position: relative;
    width: 1196px;
    height: 904.23px;
    top: -300px;
    left: 122px;
    padding: 0px, 24px, 0px, 24px;
    /* background-color: #191919; */

}

.soz1 {
    position: relative;
    top: 1px;
    width: 149px;
    height: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.800000011920929px;
    text-align: left;
    color: #FF4D01;

}

.ttttttt {
    position: relative;
    width: 416px;
    height: 124px;
    top: 36px;
    font-family: sans-serif;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;



}

.solid12 {
    top: -55px;
    left: 690px;
    position: relative;
    width: 169px;
    height: 75px;
    background: #FF4D01;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    transition: 1.5s;


}

.solid12:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: white;
}

.solid11 {
    position: relative;
    width: 211px;
    height: 75px;
    border: 2px solid rgb(255, 255, 255);
    background: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    top: -131px;
    left: 930px;
    transition: 1.5s;

}

.solid11:hover {
    border: 2px solid #FF4D01;
    cursor: pointer;
    background: #FF4D01;
    color: white;
}